<!--<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
-->

<h1>Kindly Login</h1>



<%= form_for(:reviewer, url: sessions_path) do |f| %>

<div>
	<%= f.label :name %> <br/> <%= f.text_field :name %>
</div>

<p/>

<div>
	<%= f.label :password %> <br/> <%= f.password_field :password %>
</div>

<div>
	<%= f.submit "login" %>
</div>

<% end %>